:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
    --colorPrincipal: #1073ba;
    --colorSecundario: #00da55;
    --fuenteZombie: 'Creepster', system-ui;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* border: 1px solid black; */
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    /* color: #FFFFFF; */
}

/******************************* Globales ********************************/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/********************************************* Utilidades **********************************************/
.texto-centrado {
    text-align: center;
}

/****************************************** Degradados *******************************************/
.degradado {
    color: transparent;
    background: linear-gradient(to right, var(--colorPrincipal) 0%, var(--colorSecundario));
    -webkit-background-clip: text;
}


/******************************************* Header ********************************************/
.header {
    background-color: #373737;
}

.header__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.header__titulo {
    font-family: var(--fuenteSecundaria);
    font-size: 9rem;
    margin: 0;
}

.header__precio--span {
    font-weight: 900;
    font-size: 5rem;
}

.header__slogan {
    font-family: var(--fuenteZombie);
    font-size: 4rem;
    color: #ffffff;
    margin: 0;
}

/************************************************** sobre-tech ***************************************************/
.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.icono__imagen {
    width: 10rem;
}

.icono__titulo {
    font-size: 2.8rem;
    color: var(--colorPrincipal);
    text-transform: uppercase;
}

.sobre-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--colorPrincipal) 0%), url(../img/laptop-5673901_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 160rem;
    background-position: center center;
}

.sobre-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: 5rem;
}

.sobre-tech__texto {
    color: #ffffff;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sobre-tech__titulo {
    font-size: 4rem;
}

.sobre-tech__parrafo {
    font-size: 2rem;
}

/************************************************ Modelos *************************************************/
.modelos__listado-producto {
    display: grid;
    gap: 4rem 0;
}

.modelos__titulo {
    font-size: 5rem;
}

.modelo {
    min-height: 20rem;
    background-color: #e1e1e1;
    border-radius: 2rem;
    background-size: 20rem;
    color: var(--colorPrincipal);
    background-image: url(../img/lap.png);
    background-repeat: no-repeat;
    background-position: 90% center;

    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
    transition-property: transform background-size;
    transition-duration: 0.6s;
}

.modelo:hover {
    transform: scale(1.1) rotate(4deg);
    background-size: 30rem;
}

.modelo__titulo {
    color: #2c814d;
    font-family: var(--fuenteZombie);
    font-size: 4.5rem;
}

.modelo__precio {
    font-weight: 900;
    font-size: 5rem;
}


/************************************* Footer **************************************/
.footer {
    font-weight: 400;
    font-size: 2rem;
    color: #1073ba;
}

/****************************** Media queries *******************************/

/* Header */
@media (min-width: 768px) {
    .header__contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}

/* Iconos */
@media (min-width: 768px) {
    .iconos {
        display: grid;
        grid-template-areas: "icono-1 icono-2 icono-3";

        column-gap: 5rem;
        margin-top: 5rem;
    }
}

/* Sobre-tech */
@media (min-width: 768px) {
    .sobre-tech {
        background-size: unset;
        background-image: unset;
        background-image: linear-gradient(to left, transparent 50%, var(--colorPrincipal) 0%), url(../img/laptop-5673901_1280.jpg);
        background-size: cover;
        background-position: center center;
    }

    .sobre-tech-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        padding: 10rem 0;
    }

    .sobre-tech__texto {
        display: flex;
        align-items: center;
        margin-top: -10rem;
    }

    .sobre-tech__parrafo {
        padding: 0 5rem;
    }
}